#title{
font-family: Thasadith;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 52px;
text-align: center;

color: #EE8C32


}
.figure-caption{

font-family: Thasadith;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 26px;
color: #000000

}