html{
	scroll-behavior:smooth;
}

a:hover{
	text-decoration: none;
}

.caption, .labels, #summary, .title1, .labels2, .content{
font-family: Thasadith;
font-style: normal;
font-weight: normal;
}

.title1{
	font-size:40px;
	width:60%;
  position:absolute;
  z-index:100;
  padding:0px;
  margin-bottom:10%;
}

.caption{
	font-size:18px;
  letter-spacing:  0.05em;
  color:#757272
}

.border{
	border-width:5px !important;
}

#title{
	padding-top:20%;
}
#description{
	letter-spacing:  0.05em;
	padding-top:25px;
	font-size:35px;
}

#summary{
	font-size:22px;
	padding-top:40px;
	padding-bottom:10px;
	letter-spacing:0.1em;
	
}

#banner{
	opacity:0.80;
	height:600px;
}

.labels{
	font-size: 25px;
	letter-spacing:  0.1em;
	padding-bottom:40px;
}


.imagehover {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.imagehover:hover{
  opacity:0.3;
}


.glyphicon.glyphicon-triangle-bottom{
	font-size:50px;
}



.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;
  colr:000;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.2em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.2em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.2em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.2em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.2em; }
    100% { top: 0; }
}

.parallax{
  background-image: url("../Assets/images/ricepaddy.jpg");

  /* Set a specific height */
  height: 580px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
 }



/*Content page*/
.labels2{
  font-size:40px;
  width:30%;
  letter-spacing:  0.1em;
  margin-top:10%;
  margin-left:25%;
}

.content{
  font-size:22px;
  padding-left:12%;
  padding-right:5%;
  margin-top:8%;
  margin-left:5%;
}

.carousel-inner{
  padding-right:20%;
  opacity:0.8;
  padding-top:9%;
  padding-left:5%;
  height:400px;
}

.tales{
  height:400px;
}

.glyphicon.glyphicon-triangle-left{
  font-size:20px;
  padding-top:30%;
}

.filler1{
  color: #F39D9D
}

.fillerdiv{
  background-color: #F39D9D
}
