html{
	scroll-behavior:smooth;
}

a:hover{
	text-decoration: none;
}

/******HOMEPAGE******/
.caption, .labels, #summary, .title1, .labels2, .content{
font-family: Thasadith;
font-style: normal;
font-weight: normal;
}

.title1{
	font-size:40px;
	width:60%;
  position:absolute;
  z-index:100;
  padding:0px;
  margin-bottom:10%;
}

.caption{
	font-size:18px;
  letter-spacing:  0.05em;
  color:#757272
}

/*border around title*/
.border{
	border-width:5px !important;
}

/*description*/
#summary{
	font-size:22px;
	padding-top:40px;
	padding-bottom:10px;
	letter-spacing:0.1em;
}

/*banner on front page*/
#banner{
	opacity:0.80;
	height:600px;
}

/*labels for options*/
.labels{
	font-size: 25px;
	letter-spacing:  0.1em;
	padding-bottom:40px;
}

/*hover over options*/
.imagehover {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.imagehover:hover{
  opacity:0.3;
}

/*arrow*/
.glyphicon.glyphicon-triangle-bottom{
	font-size:50px;
}

.bounce {
  display: inline-block;
  position: relative;
  animation: bounce 0.5s infinite linear;
  color:#000;
}

/*adding bounce to arrow*/
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.2em; }
    100% { top: 0; }
}

/*parallax scrolling for banner*/
.parallax{
  background-image: url("../Assets/images/ricepaddy.jpg");
  /* set a specific height */
  height: 580px; 
  /* create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
 }

/******CONTENT PAGE******/
/*titles*/
.labels2{
  font-size:40px;
  width:30%;
  letter-spacing:  0.1em;
  margin-top:10%;
  margin-left:25%;
}

/*food description*/
.content{
  font-size:22px;
  padding-left:12%;
  padding-right:5%;
  margin-top:8%;
  margin-left:5%;
}

/*carousel*/
.carousel-inner{
  padding-right:20%;
  opacity:0.8;
  padding-top:9%;
  padding-left:5%;
  height:400px;
}

/*pictures for carousel*/
.tales{
  height:400px;
}

 /*back arrow*/
.glyphicon.glyphicon-triangle-left{
  font-size:20px;
  padding-top:30%;
}

/*title colors for all spices*/
.border1, .filler1{
  color:#F39D9D;
}

.cinnamonborder1, .cinnamonfiller1{
  color: #AA7F3E
}

.seasemeseedsborder1, .seasemeseedsfiller1{
  color:#726553;
}

.garlicborder1, .garlicfillerdiv{
  color:#D3CFC3;
}

.honeyborder1, .honeyfiller1{
  color:#FDBE5F;
}

.molassesborder1, .molassesfiller1{
  color:#5F3F0F;
}

.maplesyrupborder1, .maplesyrupfiller1{
  color:#C66A56;
}

.brownsugarborder1,.brownsugarfiller1{
  color:#BE965A;
}

.coconutoilborder1, .coconutoilfiller1{
  color:#945837;
}

.oliveoilborder1, .oliveoilfiller1{
  color:#71A232;
}

.avocadooilborder1, .avocadooilfiller1{
  color:#C3E19C;
}

.peanutoilborder1, .peanutoilfiller1{
  color:#E0C979;
}

.riceborder1, .ricefiller1{
  color:#70BB6F;
}

.wheatborder1, .wheatfiller1{
  color:#FFDF8B;
}

.oatborder1, .oatfiller1{
  color:#E0C979;
}

.cornborder1, .cornfiller1{
  color:#FFE975;
}

.saltborder1, .saltfiller1{
  color:black;
}

.pepperborder1, .pepperfiller1{
  color:#3E3520;
}

.mintborder1, .mintfiller1{
  color:#98ff98;
}

.vanillaborder1, .vanillafiller1{
  color:#A47601;
}

/*strip*/
.fillerdiv{
  background-color: #F39D9D
}

.cinnamonfillerdiv{
  background-color:#AA7F3E;
}

.seasemeseedsfillerdiv{
  background-color:#726553;
}

.garlicfillerdiv{
  background-color: #D3CFC3
}

.honeyfillerdiv{
  background-color:#FDBE5F
}

.molassesfillerdiv{
  background-color:#5F3F0F;
}

.maplesyrupfillerdiv{
  background-color:#C66A56;
}

.brownsugarfillerdiv{
  background-color:#BE965A;
}

.coconutoilfillerdiv{
  background-color:#945837;
}

.oliveoilfillerdiv{
  background-color:#71A232;
}

.avocadooilfillerdiv{
  background-color: #C3E19C;
}

.peanutoilfillerdiv{
  background-color:#E0C979;
}

.ricefillerdiv{
  background-color:#70BB6F;
}

.wheatfillerdiv{
  background-color:#FFDF8B;
}

.oatfillerdiv{
  background-color:#E0C979;
}

.cornfillerdiv{
  background-color:#FFE975;
}

.saltfillerdiv{
  background-color:black;
}

.pepperfillerdiv{
  background-color:#3E3520;
}

.mintfillerdiv{
  background-color:#98ff98;
}

.vanillafillerdiv{
  background-color:#A47601;
}